<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>注册</title>
</head>

<body data-vide-bg="static/image/block.jpg">
<form method="post" action="/register_sms">
<div class="login-form">
    <h2>注册</h2>
    <div class="form-input">
        <input type="text" name="phone", placeholder="用户名">
    </div>
    <div class="form-input">
        <input type="password" name="pwd", placeholder="密码">
    </div>

    <div class="form-input">
        <input type="submit" name="register" value="注册">
    </div>
</div>
</form>
<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static/js/jquery.vide.js"></script>
</body>

</html>